/* area de cards  */
.cards {
  text-transform: uppercase;
  margin: 70px auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* Bloco de cards */
.card {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.card {
  padding: 10px;
  max-width: 300px;
  display: grid;
}
.card img {
  border: solid 1px white;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 1/5;
  width: 270px;
  height: 400px;
}
.card-spec {
  grid-column: 1;
  grid-row: 4;
}
.card-spec-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 10px;
  padding: 10px;
}
.titulo {
  grid-column: 1/3;
  font-size: 1.3rem;
  color: white;
  grid-row: 1;
  align-self: flex-end;
}
.modalidade-ead {
  margin: 2px 0;
  max-width: 33px;
  padding: 0 10px;
  border: solid 1.9px orangered;
  font-size: 1rem;
  border-radius: 10px;
  grid-row: 2;
  display: flex;
  align-self: flex-start;
  color: orangered;
}
.modalidade-presencial {
  margin: 2px 0;
  padding: 0 10px;
  border: solid 1.9px gold;
  font-size: 1rem;
  border-radius: 10px;
  grid-row: 2;
  display: flex;
  align-self: flex-start;
  color: gold;
}
.botao-card {
  margin: 0 10px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #1976d2;
  padding: 10px;
  grid-row: 3;
  font-size: 1rem;
}
.botao-card:hover {
  box-shadow: inset 0 0 7px #0d47a1;
  cursor: pointer;
}
.apagar-curso{
  display: flex;
  position: absolute;
  top: 18px;
  left: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #d11507;
  outline: none;
  cursor: pointer;
}